<%= form_with(model: curriculum, local: true) do |form| %>
  <% if curriculum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(curriculum.errors.count, "error") %> prohibited this curriculum from being saved:</h2>

      <ul>
      <% curriculum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :curriculum_name %>
  </div>

  <div class="field">
    <%= form.label :min_rating %>
    <%= form.number_field :min_rating, id: :curriculum_min_rating %>
  </div>

  <div class="field">
    <%= form.label :max_rating %>
    <%= form.number_field :max_rating, id: :curriculum_max_rating %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :curriculum_description %>
  </div>

  <div class="field">
    <%= form.label :active %>
    <%= form.check_box :active, id: :curriculum_active %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
