<p id="notice"><%= notice %></p>

<h1>Camp Instructors</h1>

<table>
  <thead>
    <tr>
      <th>Camp</th>
      <th>Instructor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @camp_instructors.each do |camp_instructor| %>
      <tr>
        <td><%= camp_instructor.camp_id %></td>
        <td><%= camp_instructor.instructor_id %></td>
        <td><%= link_to 'Show', camp_instructor %></td>
        <td><%= link_to 'Edit', edit_camp_instructor_path(camp_instructor) %></td>
        <td><%= link_to 'Destroy', camp_instructor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Camp Instructor', new_camp_instructor_path %>
