<p id="notice"><%= notice %></p>

<p>
  <strong>Camp:</strong>
  <%= @camp_instructor.camp_id %>
</p>

<p>
  <strong>Instructor:</strong>
  <%= @camp_instructor.instructor_id %>
</p>

<%= link_to 'Edit', edit_camp_instructor_path(@camp_instructor) %> |
<%= link_to 'Back', camp_instructors_path %>
