<%= form_with(model: location, local: true) do |form| %>
  <% if location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% location.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :location_name %>
  </div>

  <div class="field">
    <%= form.label :street_1 %>
    <%= form.text_field :street_1, id: :location_street_1 %>
  </div>

  <div class="field">
    <%= form.label :street_2 %>
    <%= form.text_field :street_2, id: :location_street_2 %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city, id: :location_city %>
  </div>

  <div class="field">
    <%= form.label :state %>
    <%= form.text_field :state, id: :location_state %>
  </div>

  <div class="field">
    <%= form.label :zip %>
    <%= form.text_field :zip, id: :location_zip %>
  </div>

  <div class="field">
    <%= form.label :max_capacity %>
    <%= form.number_field :max_capacity, id: :location_max_capacity %>
  </div>

  <div class="field">
    <%= form.label :active %>
    <%= form.check_box :active, id: :location_active %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
